<!DOCTYPE html>
<html>
<head>
  <title>Dhwi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>FAVORITE PAINTER</h1>
	</header>
		<nav>
			<ul>
				<li><a href="/">Home</a><a/li>
				<li><a href="/topics/new">Add Painter Name</a></li>
				<li><a href="/about.html">About</a></li>
			</ul>	
		</nav>

 <% flash.each do |name, msg| %>
 	<div><%= msg %></div>
 <% end %>
<%= yield %>

</body>
</html>
